body{
margin: 0;
padding: 0;
font-family: sans-serif;
height: 100%;
background:#000;
}

html{
    height: 100%;
}

header{
background: url(slika.jpg); 
padding: 20px 100px;
box-sizing: border-box;
}

section{
width: 100%;


}

section.sec1{
background: black; 
background-size: cover;
box-sizing: border-box;  
text-align: center;
height:100vh;

}

section.sec1 p{
    color: white;
}

section.sec1 h2{
    color: white;
}
section.sec2{
    background: url(glavna4.jpg); 
    background-size: cover;
    padding: 10px;
    box-sizing: border-box;  
    text-align: center;
    height:200vh;
}

section.sec2 p{
margin: 0;
padding: 0;
color: #ffffff;
}

section.sec2 h2{
margin: 0;
padding: 0 0 20px;
color: #ffffff;
}


section.forma{
    padding: 100px;
    box-sizing: border-box;
    height: auto;
    background-color:black;
    }

nav{
width: 100%;
height: 65px;
background: rgba(0,0,0,.8);
border-top: 1px solid rgba(255,255,255,.2);
border-bottom: 1px solid rgba(255,255,255,.2);


}

nav ul{
display: flex;
margin: 0;
padding: 0 100px;
float: right;
text-align: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    color:#ffffff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;

}

nav ul li a:hover,
nav ul li a.active{
    background: #f00;
}


.page-wrapper{
    min-height: 100%;
}

.contact-form{
    width:35%;
    background: #222222;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 20px #000000b3;
    top:50%;
    left:50%;
    padding:30px 40px;
    text-align:center;
    font-family: "Montserrat", sans-serif;

}
.contact-form h1{
    margin-top: 0;
    font-weight: 200;

}

.txtb{
    border: 1px solid gray;
    margin: 8px 0;
    padding 12px 18px;

}
.txtb label{
    display:block;
    text-align: left;
    color:#777;
    text-transform: uppercase;
    font-size:0.9vw

}

.txtb input, .txtb textarea{
    width:100%;
    border:none;
    background:none;
    outline:none;
    font-size: 1vw;
    color:wheat;
    margin-top: 3px;
}

.btn{
    display: inline-block;
    background: dodgerblue;
    padding: 12px 0;
    color:white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    
}

.f{
    background-color: black;
    color: white;
    padding:0.5em 0;
    width: 100%;
    margin:auto;
    text-align: center;
    box-shadow: 7px 5px 5px #e2e7de62;
    }

footer{
    background-color: #777777 ;
    height: 50px;
}

.fab {
    color: black;
    font-size: 40px;
    margin: 10px;
}

.far{
    color: black;
    font-size: 40px;
    margin: 10px;
}

.smed i:hover{
    color:red;
}
